[submodule "backend/lib/forge-std"]
	path = backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/functions-hardhat-starter-kit"]
	path = lib/functions-hardhat-starter-kit
	url = https://github.com/smartcontractkit/functions-hardhat-starter-kit
[submodule "backend/lib/functions-hardhat-starter-kit"]
	path = backend/lib/functions-hardhat-starter-kit
	url = https://github.com/smartcontractkit/functions-hardhat-starter-kit
